@import "tailwindcss";


.hero-section {
  height: 300vh;
  position: relative;
}

.image-container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
}


.cards-section {
  height: 300vh;
  position: relative;
  background: #000;
}

/* BACKGROUND IMAGE */
.bg-image {
  position: absolute;
  inset: 0;
  background-image: url("https://cdn.prod.website-files.com/6746d4e7508fcde5d1dbac6c/6913015d65650b87232a69a3_01---H0_HERO_5of9.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: 1;
}

.cards-row {
  position: sticky;
  top: 0;

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  z-index: 2;
}

.card-img {
  width: 30%;
  height: 70vh;
  object-fit: cover;
  border-radius: 16px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  transform-origin: center;
}



.gallery-section {
  height: 300vh;
  position: relative;
}

/* BACKGROUND IMAGES */
.bg-wrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.bg-img.active {
  opacity: 1;
}

/* CARDS */
.cards-container {
  position: sticky;
  top: 0;

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  z-index: 2;
}

.card {
  width: 28%;
  height: 70vh;
  object-fit: cover;

  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
